.copyright {
  padding-top: 40px;
  padding-bottom: 50px;

  &--flex {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  &__link {
    
    position: relative;
    color: #121212;
    &--border {
      text-decoration: underline;
    }
    &::after {
      content: "";
      position: absolute;
      top: -5px;
      width: 10px;
      height: 15px;
      background: right url(../img/perfomance-link.png) no-repeat;
    }
  }
}